# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'


steps:
- task: Ant@1
  inputs:
    buildFile: 'build.xml'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.11'
    jdkArchitectureOption: 'x64'
    testRunTitle: 'start test'
    publishJUnitResults: true
    testResultsFiles: '**\test\fact\it\www\beans\*Test*.java'
    


- script: |
    echo Starting the build
  displayName: 'start build'


