# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'


steps:
- task: Ant@1
  inputs:
    buildFile: 'build.xml'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.11'
    jdkArchitectureOption: 'x64'
    testRunTitle: 'start test'
    publishJUnitResults: true
    testResultsFiles: '**/*TEST*.xml'
    
- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: '**/*TEST*.xml'

- task: AzureWebApp@1
  inputs:
    azureSubscription: 'Azure for Students(fb6fb756-5fb1-4919-b457-5754109db533)'
    appType: 'webApp'
    appName: 'windows case'
    package: '$(System.DefaultWorkingDirectory)/*.war'
    deploymentMethod: 'auto'

- script: |
    echo Starting the build
  displayName: 'start build'


